appdirs==1.4.4
asgiref==3.2.10
automium==0.2.6
automium-web==0.1.1
boto3==1.14.31
botocore==1.17.31
certifi==2020.11.8
cffi==1.14.4
click==7.1.2
cryptography==3.2.1
distlib==0.3.1
Django==3.1.3
django-appconf==1.0.4
django-ckeditor==5.7.1
django-crispy-forms==1.8.0
django-cryptography==1.0
django-js-asset==1.2.2
django-summernote==0.8.11.4
django-taggit==1.1.0
docutils==0.15.2
filelock==3.0.12
Flask==1.1.2
html5lib==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
legacy==0.1.6
Markdown==3.1.1
markdown-checklist==0.4.1
MarkupSafe==1.1.1
Pillow==6.2.1
pipenv==2020.11.15
pycparser==2.20
Pygments==2.5.2
PyPDF2==1.26.0
PyQt5==5.15.1
pyqt5-plugins==5.15.1.2.0.1
PyQt5-sip==12.8.0
pyqt5-tools==5.15.1.3
python-dateutil==2.8.1
python-decouple==3.2
python-dotenv==0.13.0
pytz==2019.3
qt5-applications==5.15.1.2.1
qt5-tools==5.15.1.1.0.1
reportlab==3.5.32
s3transfer==0.3.3
six==1.13.0
sqlparse==0.3.0
Unidecode==1.1.1
urllib3==1.25.10
views==0.3
virtualenv==20.0.25
virtualenv-clone==0.5.4
webencodings==0.5.1
Werkzeug==1.0.1
xhtml2pdf==0.2.3
